.footer {
  text-align: center;
  width: 100%;
  z-index: 10;
  height: calc(var(--icode-footer));
  line-height: calc(var(--icode-footer));
  font-size: 12px;
  color: #999;
  a {
    font-size: 12px;
    color: #999;
    &:hover {
      text-decoration: underline;
    }
  }
}