{
  "semi": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "ignore",
  "disableLanguages": [],
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}