.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  position: relative;
  .content {
    max-width: 960px;
    width: 100%;
    flex: 1;
    overflow: auto;
    padding: 12px;
    box-sizing: border-box;
  }
}
