@-webkit-keyframes shining {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
 }
.header {
  background: #f6f8fa;
  height: calc(var(--icode-header));
  box-sizing: border-box;
  border-bottom: 1px solid #d0d7de;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    letter-spacing: 4px;
    background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: shining 2s alternate infinite;
    animation: shining 2s alternate infinite;
    // background-image: -webkit-linear-gradient(#d5cabd 0%, #717597 100%);
    margin-left: 12px;
  }
  .inner-header {
    max-width: 960px;
    width: 100%;
    // padding: 0 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
